.about-container {
	position: relative;
	z-index: 1;
	margin: 0 10% 0 10%;
	overflow-x: hidden;
}

.about-content {
	opacity: 0;
	transition: all 2s ease;
}

.animate {
	opacity: 1 !important;
}

.research-links-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	opacity: 0;
	transition: all 2s ease;
	width: 100%;
}

.link-arrow {
	margin-left: 5px;
	height: 17.5px;
	width: 17.5px;
	filter: invert(1);
}

.research-links-container a {
	color: inherit;
}

.research-links-container a:last-child {
	text-align: right;
}
