.contacts {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.contact-links-container {
	opacity: 0;
	transition: all 2s ease;
}

.contacts:nth-child(2) {
	transition-delay: 0.3s;
}

.contacts:nth-child(3) {
	transition-delay: 0.6s;
}

.contacts:nth-child(4) {
	transition-delay: 0.9s;
}

.contact-container {
	position: relative;
	z-index: 1;
	margin: 0 10% 0 10%;
}

.contact-paragraph {
	color: #11283f !important;
	opacity: 0;
	transition: all 2s ease;
}

.animate {
	opacity: 1 !important;
}

@media (max-width: 990px) {
	.contacts {
		display: flex;
		flex-direction: column !important;
		place-content: center !important;
		justify-content: center !important;
		align-items: center !important;
	}
	.contact-email {
		margin-right: 0;
	}
}
