.parent-container {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	opacity: 0;
	transition: all 1.8s ease;
}

.animate {
	opacity: 1;
}

.overlay-container {
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	padding: 3.5vw;
	text-align: center;
	z-index: 1;
}

/* @media (max-width: 990px) {
	.overlay-container {
		top: 49%;
	}

	.parent-container {
		min-height: 675px !important;
		top: 0;
		bottom: 0;
	}
} */

@media (min-width: 2168px) {
	.parent-container {
		min-height: 920px !important;
	}
}
