.explore-container {
	position: relative;
	display: grid;
	z-index: 1;
	margin: 0 10% 0 10%;
}

.explore-container a {
	text-decoration: none;
	display: flex;
	justify-content: center;
}

.explore-intro {
	opacity: 0;
	transform: translateX(70%);
	transition: all 1.4s;
	color: #11283f !important;
}

.animate-intro {
	opacity: 1;
	transform: translateX(0);
}

.link {
	background-color: rgba(124, 124, 124, 0.486);
	display: flex;
	align-items: center;
	justify-self: center;
	justify-content: center;
	width: 50%;
	margin: 1% 0 1% 0;
	opacity: 0;
	transform: translateX(-50%);
	transition: transform 1s ease, opacity 1s ease, background-color 0.4s ease,
		border 0.4s ease, color 0.4s ease;
	border: 2px solid #e9e6e6;
	text-align: center;
}

.animate-link {
	opacity: 1 !important;
	transform: translateX(0) !important;
}

.link h3 {
	color: #ffffff;
	margin: 15px;
	font-weight: 400 !important;
	transition: all 0.4s ease;
	text-decoration: none;
}

.link:hover {
	background-color: rgb(255, 255, 255);
	border: 2px solid #11283f;
}

.link:hover h3 {
	color: #11283f;
	justify-self: center;
}

@media (max-width: 990px) {
	.link {
		width: 100%;
		padding: 0 10px 0 10px;
		display: flex;
		align-items: center;
		justify-self: center;
		justify-content: center;
	}
}
