.header-container {
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	flex-direction: column;
	margin: 10px 0 10px 0;
	padding: 35px;
	/* font-size: large; */
}

.light-title-text {
	color: white;
	position: relative;
	overflow: hidden;
	opacity: 0;
	transition: all 1s !important;
	/* font-weight: 350 !important; */
	margin-bottom: 10px !important;
}

.dark-title-text {
	color: #11283f;
	overflow: hidden;
	opacity: 0;
	transition: all 1s !important;
	position: relative;
	/* font-weight: 350 !important; */
	margin-bottom: 10px !important;
}

.reveal-text::before {
	animation: reveal 1s ease-out;
}

.light-subtitle-text {
	color: white;
	opacity: 0;
	transition: all 3s;
}

.dark-subtitle-text {
	color: #11283f;
	opacity: 0;
	transition: all 3s;
}

.animate {
	opacity: 1;
}
