.exploration-menu {
	position: absolute;
	top: 15%;
	left: 15px;
	width: 25%;
	height: fit-content;
	z-index: 10;
	margin: 2%;
}

.checkboxes {
	position: fixed;
	align-self: center;
	justify-self: right;
	bottom: 3%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
	opacity: 0;
	transform: translateY(50%);
	transition: all 1s ease;
}

.checkboxes label {
	color: white;
	font-size: 1rem;
	font-weight: 300;
	margin-right: 0;
	line-height: 0.85rem;
	width: min-content;
}

.shallow-legend {
	background-color: rgba(239, 255, 92);
	border: 1px solid rgb(255, 255, 255);
	border-radius: 100%;
	height: 15px;
	width: 15px;
	margin-right: 20px;
}

.deep-legend {
	background-color: rgb(170, 0, 190);
	border: 1px solid rgb(255, 255, 255);
	border-radius: 100%;
	height: 15px;
	width: 15px;
	margin-right: 20px;
}

.meteorite-legend {
	background-color: rgba(0, 175, 90);
	border: 1px solid rgb(255, 255, 255);
	border-radius: 100%;
	height: 15px;
	width: 15px;
	margin-right: 20px;
}

.artificial-legend {
	background-color: rgba(0, 205, 255);
	border: 1px solid rgb(255, 255, 255);
	border-radius: 100%;
	height: 15px;
	width: 15px;
	margin-right: 20px;
}

.hide {
	opacity: 0;
	transform: translateX(-50%);
	transition: all 0.5s ease;
}

.hidden {
	opacity: 0 !important;
	transform: translateX(-50%) !important;
}

.animate {
	transform: translateX(0);
	transform: translateY(0) !important;
	opacity: 1;
	z-index: 10;
}

.active {
	color: #11283f !important;
	border: 2px solid white !important;
	background-color: white !important;
	opacity: 1 !important;
	transform: translateX(0) !important;
	z-index: 10;
}

.exploration-menu button,
.exploration-menu select {
	text-align: center;
	color: white;
	width: 100%;
	height: 50px;
	border: 2px solid #e9e6e6;
	border-radius: 0 !important;
	outline: none;
	background-color: rgba(124, 124, 124, 0.486);
	margin-bottom: 10px;
	transition: all 0.5s ease;
	font-size: 1.2rem;
	font-weight: 300;
	transition-property: opacity, transform, border, background-color;
	transition-duration: 1s, 1s, 0.5s, 0.5s;
}

.exploration-menu button:hover,
.exploration-menu select:hover {
	color: #11283f;
	border: 2px solid #11283f;
	background-color: white;
}

.exploration-menu option {
	text-align: center;
	text-justify: distribute;
	color: #11283f;
}

.hide:nth-child(2) {
	transition-delay: 0.2s;
}

.hide:nth-child(3) {
	transition-delay: 0.4s;
}

.hide:nth-child(4) {
	transition-delay: 0.6s;
}

.hide:nth-child(5) {
	transition-delay: 0.8s;
}

.hide:nth-child(6) {
	transition-delay: 1s;
}

.legend-container {
	opacity: 0;
	transform: translateY(50%);
	transition: all 1s ease;
	cursor: default;
}

.show-legend {
	opacity: 1 !important;
	transform: translateY(0) !important;
	cursor: auto !important;
}

.legend-container p {
	color: white;
	margin: 0;
	font-weight: 300 !important;
}

.legend {
	max-width: 100%;
	border: 1px solid #e9e6e6;
}

.legend-text-container {
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.legend-title-container {
	width: 100%;
}

.legend-text-container p {
	margin: 0;
	max-width: 100%;
}

@media (max-width: 768px) {
	.checkboxes {
		bottom: 10%;
		width: 80%;
		left: 10%;
		border: 2px solid #e9e6e6;
		border-radius: 0 !important;
		outline: none;
		background-color: rgba(124, 124, 124, 0.486);
		padding: 10px 25px 10px 25px;
	}

	.checkboxes label {
		font-size: 0.5rem;
	}

	.exploration-menu {
		top: 20%;
		left: 10px;
		width: 30%;
		height: fit-content;
		z-index: 3;
		margin: 0;
		font-size: 0.5rem !important;
	}

	.exploration-menu button,
	.exploration-menu select {
		font-size: 0.5rem !important;
		height: 25px;
		margin-bottom: 5px;
		transition-property: opacity, transform, border, background-color;
		transition-duration: 1s, 1s, 0.5s, 0.5s;
	}
}
