.information-box {
	position: absolute;
	right: 0;
	background-color: rgba(124, 124, 124, 0.486);
	width: 27%;
	height: fit-content;
	opacity: 0;
	transform: translateY(50%);
	transition: all 1s ease;
	border: 2px solid #e9e6e6;
	cursor: default !important;
	backdrop-filter: blur(3px);
}

.information-box h2 {
	margin: 10px 15px 0 15px;
	font-weight: 300 !important;
	font-size: 2.5rem;
	transition: all 1s ease;
}

.information-box p {
	margin: 10px 15px 0 15px;
	font-weight: 300 !important;
	font-size: 1.25rem;
	transition: all 1s ease;
}

.information-box p:last-child {
	margin-bottom: 10px;
}

.information-box hr {
	width: 95%;
	margin: 0 auto;
	transition: all 1s ease;
}

.animate {
	pointer-events: auto !important;
	opacity: 1 !important;
	transform: translateY(0) !important;
	z-index: 10;
	cursor: auto !important;
}

@media (max-width: 768px) {
	.information-box {
		width: 30%;
		/* right: 3%; */
	}

	.information-box h2 {
		font-size: 0.9rem;
		margin: 10px 5px 0 5px;
	}

	.information-box p {
		font-size: 0.475rem;
		margin: 8px 5px 0 5px;
	}
}
