.chart {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white !important;
	width: 40%;
	height: 300px;
	border: 2px solid #e9e6e6;
	border-radius: 0 !important;
	outline: none;
	background-color: rgba(124, 124, 124, 0.486);
	opacity: 0;
	transform: translateY(-50%);
	transition: all 1s ease;
	backdrop-filter: blur(3px);
	padding: 6px;
}

.show {
	pointer-events: auto !important;
	opacity: 1 !important;
	transform: translateY(0) !important;
	z-index: 9;
}

.axis-label {
	fill: white;
	font-family: "Futura PT Light", "Futura PT", "Futura Std";
	font-weight: lighter;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
	.axis-label {
		font-size: 10px;
	}
}

@media (max-width: 480px) {
	.axis-label {
		font-size: 8px;
	}
}

@media (max-width: 990px) {
	.chart {
		height: 220px;
		padding: 4px;
		width: 50%;
	}
}

@media (max-width: 768px) {
	.chart {
		width: 60%;
	}
}

@media (max-width: 500px) {
	.chart {
		width: 68%;
		height: 145px;
		padding: 2px;
	}
}
