.chart {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	width: 27%;
	height: 300px;
	border: 2px solid #e9e6e6;
	border-radius: 0 !important;
	outline: none;
	background-color: rgba(124, 124, 124, 0.486);
	margin-bottom: 10px;
	opacity: 0;
	transform: translateY(-50%);
	transition: all 1s ease;
	font-size: 1.2rem;
	font-weight: 300;
	backdrop-filter: blur(3px);
}

.chart h2 {
	margin: 10px 0 0 15px;
	font-weight: 300 !important;
	font-size: 1.5rem;
	transition: all 1s ease;
}

.chart p {
	margin: 10px 0 0 20px;
	font-weight: 300 !important;
	font-size: 1.25rem;
	transition: all 1s ease;
}

.chart-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 10px 10px 10px 5px;
	height: 90%;
}

.show {
	pointer-events: auto !important;
	opacity: 1 !important;
	transform: translateY(0) !important;
	z-index: 9;
}

@media (max-width: 990px) {
	.legend {
		width: 40%;
	}

	.chart {
		height: 200px;
	}
}

@media (max-width: 768px) {
	.chart {
		width: 35%;
	}

	.chart-legend {
		flex-wrap: wrap;
		font-size: 0.5rem;
		line-height: 0.5rem;
	}

	.chart h2 {
		font-size: 0.8rem;
		margin: 8.5px 0 0 7.5px;
	}

	.chart p {
		font-size: 0.5rem;
		margin: 7.5px 0 0 7.5px;
	}
}

@media (max-width: 500px) {
	.chart {
		width: 40%;
		height: 150px;
	}

	.legend {
		width: 100%;
	}

	.chart-container {
		height: 100%;
	}
}
