.footer {
	background-color: #11283f !important;
	margin-top: 5%;
}

.source-code-link {
	text-align: right;
	margin-top: -4%;
}

.copyright {
	margin-bottom: 0.65vh;
	font-weight: 50;
	font-size: small;
	margin-left: 1.5vh;
}

.copyright a {
	color: #fff;
}

.footer-container {
	opacity: 0;
	transition: all 2s ease;
}

.animate {
	opacity: 1;
}

@media (max-width: 990px) {
	.copyright {
		margin-left: 0;
	}

	.footer-container {
		text-align: center;
	}

	.source-code-link {
		text-align: center;
		margin-top: 3%;
		margin-bottom: 0;
	}
}
