.footer {
	background-color: #11283f !important;
	margin-top: 5%;
}

.source-code-link {
	text-align: right;
	margin-right: 10px;
	margin-top: -4%;
}

.source-code-icon {
	height: 30px;
	width: 30px;
	transition: all 0.4s ease;
}

.source-code-icon:active,
.source-code-icon:hover {
	opacity: 0.75;
	transform: translateY(-5px);
}

.copyright {
	margin-bottom: 4px;
	font-weight: 50;
	font-size: small;
	margin-left: 10px;
}

.copyright a {
	color: #fff;
}

.footer-container {
	opacity: 0;
	transition: all 2s ease;
}

.animate {
	opacity: 1;
}

@media (max-width: 990px) {
	.copyright {
		margin-left: 0;
		font-size: 0.75rem !important;
	}

	.footer-container {
		text-align: center;
	}

	.source-code-link {
		text-align: center;
		margin-top: 3%;
		margin-right: auto;
		margin-bottom: 0;
	}
}
