.unreal-explore-intro-1 {
	opacity: 0;
	transform: translateX(-70%);
	transition: all 1.4s;
}

.unreal-explore-intro-2 {
	opacity: 0;
	transform: translateX(70%);
	transition: all 1.4s;
	color: #11283f !important;
}

.animate-unreal-intro {
	opacity: 1;
	transform: translateX(0);
}

.unreal-explore-container {
	position: relative;
	display: grid;
	z-index: 1;
	margin: 0 10% 0 10%;
}

.unreal-explore-container a {
	text-decoration: none;
	display: flex;
	justify-content: center;
}

.unreal-link {
	background-color: rgba(124, 124, 124, 0.486);
	display: flex;
	align-items: center;
	justify-self: center;
	justify-content: center;
	min-width: 50%;
	margin: 1% 0 1% 0;
	opacity: 0;
	transform: translateX(-50%);
	transition: transform 1s ease, opacity 1s ease, background-color 0.4s ease,
		border 0.4s ease, color 0.4s ease;
	border: 2px solid #e9e6e6;
	text-align: center;
}

.unreal-video-container {
	opacity: 0;
	transition: all 2s ease;
	aspect-ratio: 16 / 9 !important;
	background-color: black;
}

.unreal-video {
	object-fit: contain;
}

.animate-unreal-video-container {
	opacity: 1 !important;
}

.animate-unreal-link {
	opacity: 1 !important;
	transform: translateX(0) !important;
}

.unreal-link h3 {
	color: #ffffff;
	margin: 15px;
	font-weight: 400 !important;
	transition: all 0.4s ease;
	text-decoration: none;
}

.unreal-link:hover {
	background-color: rgb(255, 255, 255);
	border: 2px solid #11283f;
}

.unreal-link:hover h3 {
	color: #11283f;
	justify-self: center;
}

.disclaimer {
	margin-top: 15px;
	text-align: center;
	color: #11283f !important;
}

@media (max-width: 990px) {
	.unreal-link {
		min-width: 100%;
		display: flex;
		align-items: center;
		justify-self: center;
		justify-content: center;
	}
}

@media (max-width: 768px) {
	.unreal-exploration-box:first-child {
		margin-top: 30%;
	}
}
