.custom-container {
	padding: 1% 0 5% 0;
	background-color: #11283f;
	position: relative;
	width: 100% !important;
	z-index: 1;
	margin-bottom: 10%;
	margin-top: 10%;
	overflow-x: hidden;
}

.light-background {
	background-color: white !important;
}

@media (max-width: 990px) {
	.custom-container {
		padding: 1% 0 10% 0 !important;
	}
}
