.background {
	min-height: 100vh !important;
	min-width: 100vw !important;
	top: 0px;
	min-height: 0.7vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index: -1;
	overflow: hidden;
	padding: 0 !important;
	background-image: url("../../assets/images/background-moon.jpeg");
	filter: brightness(0.8);
}
